@import "src/@fuse/scss/fuse";

#price-tables {

    .header {
        padding: 24px;
        height: 600px;
        min-height: 600px;
        background: linear-gradient(to right, #d84315  0%, #fbe9e7  100%);

        @include media-breakpoint('xs') {
            height: 400px;
            min-height: 400px;
        }

        .hero-text {
            margin: 128px 24px;

            @include media-breakpoint('xs') {
                margin: 64px 24px;
            }

            .h1 {
                color: white;
                font-family: 'Caveat', cursive;
                font-size: 48px;
                font-weight: 400;
                letter-spacing: 0.01em;
                text-align: center;

                @include media-breakpoint('xs') {
                    font-size: 32px;
                }
            }
        }
    }

    .price-tables {
        flex: 1 0 auto;
        margin-top: -200px;

        @include media-breakpoint('xs') {
            margin-top: -64px;
        }

        .price-table {
            margin: 12px;
        }
    }

    .faq {
        flex: 1 0 auto;
        margin: 96px auto;
        max-width: 1200px;
        margin-top: 300px;

        .title {
            font-size: 50px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 64px;
            padding: 0 16px;
        }

        .item {
            padding: 24px;

            .question {
                font-size: 25px;
                margin-bottom: 8px;
            }

            .answer {
                font-size: 22px;
                line-height: 1.5;
                color: rgba(0, 0, 0, 0.54);
            }
        }
    }
}
