@import "src/@fuse/scss/fuse";

.form-dialog {
    width: 60%;

    @include media-breakpoint('xs') {
        width: 100%;

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .description {
        display: flex;
        align-items: flex-start;
        padding-right: 15px;
        padding-left: 15px;
        p{

            text-align: justify;
            font-size: 18px;
            padding-right: 15px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .card {
        display: flex;
        align-items: flex-start;
        padding: 0px 16px 0px 16px;
        margin-bottom: 24px;

        .card-preview {
            display: flex;
        }
    }

    .rounded-container{
        border-radius: 25px;
    }

    .piccolo{
        font-size: 15px !important;
    }


}


