<!-- HEADER-->
<mat-toolbar matDialogTitle class="fuse-white-bg rounded-container">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
        <span class=" dialog-title deep-orange-800-fg">{{_data.room.hotel.name}}</span>
        <svg class="px-12" height="63" width="70">
            <line x1="0" y1="31" x2="70" y2="31" style="stroke:darkgrey;stroke-width:1"/>
        </svg>
        <stars [starsNumber]="this._data.room.hotel.stars"></stars>
        <svg class="px-12" height="63" width="1200">
            <line x1="0" y1="31" x2="1200" y2="31" style="stroke:darkgrey;stroke-width:1"/>
        </svg>
        <button mat-icon-button class="deep-orange-800-fg" (click)="matDialogRef.close()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<!-- FINE HEADER-->

<!-- CONTENUTO-->
<mat-dialog-content fusePerfectScrollbar>
    <div class="container" fxLayout="row" fxLayoutAlign="start start">
        <div class="card-preview">
            <div class="card" fxLayoutAlign="start start" fxLayout="column">
                <div class="fuse-card">
                    <img class="img" src="assets/images/cards/card1.jpg">
                </div>
            </div>
        </div>
        <div class="description" fxLayoutAlign="start start" fxLayout="row">
            <div class="column-lefty" fxLayout="column" fxFlex="50">
                <p id="left" class="pl-12 m-o">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat ut labore et dolore sed do eiusmod sed
                    Duis aute irure </p>
                <!--
                 <p class="pl-12">{{_data.room.hotel.city}}</p>
                 <p class="pl-12">{{_data.room.hotel.cap}}</p>
                 <p class="pl-12">{{_data.room.hotel.address}}</p>
                 <p class="pl-12">{{_data.room.hotel.cellNumber}}</p>
                 <p class="pl-12">{{_data.room.hotel.stars}}</p>
                 <p class="pl-12">{{_data.room.pricePerNight}}</p>
                 <p class="pl-12">{{_data.room.numPlaces}}</p>
                 -->
                <div class="mt-40" fxLayoutAlign="start center" fxLayout="row">
                    <div class="mr-44" fxLayoutAlign="space-evenly start" fxLayout="column">
                        <div fxLayoutAlign="start center" fxLayout="row">
                            <mat-icon class="deep-orange-800-fg m-8">place</mat-icon>
                            <!-- <p class="pl-12">{{_data.room.hotel.city}}</p>-->
                            <p class="piccolo pl-12">{{_data.room.hotel.city.name}}</p>
                        </div>
                        <div fxLayoutAlign="start center" fxLayout="row">
                            <mat-icon class="deep-orange-800-fg m-8">local_phone</mat-icon>
                            <!-- {{_data.room.hotel.cellNumber}}-->
                            <p class="piccolo pl-12">{{_data.room.hotel.cellNumber}}</p>
                        </div>
                    </div>
                    <div fxLayoutAlign="start start" fxLayout="column">
                        <div fxLayoutAlign="start center" fxLayout="row">
                            <mat-icon class="deep-orange-800-fg m-8">hotel</mat-icon>
                            <!-- {{_data.room.numPlaces}}-->
                            <p class="piccolo pl-12">{{_data.room.numPlaces}} Postiletto</p>
                        </div>
                        <div fxLayoutAlign="start center" fxLayout="row">
                            <mat-icon class="deep-orange-800-fg m-8">euro_symbol</mat-icon>
                            <!-- {{_data.room.pricePerNight}}-->
                            <p class="piccolo pl-12">{{_data.room.pricePerNight}}/Notte</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-righty" fxLayout="column" fxFlex="50">
                <p class="pl-12"> dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <!-- SEZIONE BOTTONI -->
                <div class="mt-60" fxLayoutAlign="flex-end flex-end" fxLayout="row">
                    <button mat-raised-button
                            class="m-8 cta-button deep-orange-800-bg"
                            color="accent" (click)="onSave()">Salva
                    </button>
                    <button mat-raised-button
                            class="m-8 cta-button deep-orange-800-bg"
                            color="accent" (click)="onBook()">Prenota
                    </button>
                </div>
                <!-- FINE SEZIONE BOTTONI-->
            </div>
        </div>
    </div>
</mat-dialog-content>
<!-- FINE CONTENUTO -->


