<div class="package-type">
    <div class="title">Alternativa di Marcolino</div>
    <div class="subtitle">lol</div>
</div>

<div class="price primary-300" fxLayout="row" fxLayoutAlign="center start">
    <div class="currency">$</div>
    <div fxLayout="row" fxLayoutAlign="center end">
        <div class="value">???</div>
        <div class="period">monthly per user</div>
    </div>
</div>

<div class="terms" fxLayout="column" fxLayoutAlign="start center" *ngFor="let room of alternative.roomsHotels">
    <div class="term">Hotel: {{room.Room.hotel.name}}</div>
    <div class="term">Situato in : {{room.Room.hotel.city.name}} - {{room.Room.hotel.city.region}}</div>
    <div class="term">Prezzo per notte: {{room.Room.pricePerNight}}</div>
    <div class="term">Posti letto: {{room.Room.numPlaces}}</div>
    <div class="term">giorni: {{room.DaysInRoom}}</div>
<!--ci servirebbe un divisore ma mat-diviser non va-->
</div>

<button mat-raised-button class="cta-button" color="accent">Prenota</button>

<div class="note">7 day free trial to start</div>
