<div class="package-type">
    <div class="title">Offerta {{numberAlternative + 1}}</div>
    <div class="subtitle">{{alternative.days}} giorni </div>
</div>

<div class="price primary-300" fxLayout="row" fxLayoutAlign="center start">
    <div class="currency">$</div>
    <div fxLayout="row" fxLayoutAlign="center end">
        <div class="value">{{alternative.totalPrice}}</div>
        <div class="period">masdadsaar</div>
    </div>
</div>

<div class="terms" fxLayout="column" fxLayoutAlign="start center" *ngFor="let sojourn of alternative.sojourns">
    <div class="term">da: {{sojourn.arrival}}  a: {{sojourn.departure}}</div>
    <div class="term">Hotel: {{sojourn.room.hotel.name}}</div>
    <div class="term">Situato in : {{sojourn.room.hotel.city.name}} - {{sojourn.room.hotel.city.region}}</div>
    <div class="term">Prezzo per notte: {{sojourn.room.pricePerNight}}</div>
    <div class="term">Posti letto: {{sojourn.room.numPlaces}}</div>
<!--ci servirebbe un divisore ma mat-diviser non va-->
</div>

<button mat-raised-button class="cta-button" color="accent" (click)="newBookingParent.next(this.numberAlternative)">
    Prenota
    <mat-icon class="logo-icon s-32 mr-16 deep-orange-50-fg">
        add_shopping_cart
    </mat-icon>
</button>

<div class="note">7 day free trial to start</div>
