<div id="cards" class="page-layout simple fullwidth">
    <div class="cards">
        <div class="fuse-card" *ngFor="let b of booking; let i=index;">
            <div class="position-relative">
                <img id="luogo" width="318" src= "assets/images/profile/{{mapRandImage(i)}}.jpg">
                <div class="position-absolute font-size-20 fuse-white-fg p-16 align-center align-bottom">
                    {{getBookingName(b) | uppercase}}
                </div>
            </div>

            <div class="p-16">
                <div class="h4 secondary-text">ID: {{b.id}}</div>
            </div>

            <div class="p-16 pt-0 line-height-1.75">
                Prezzo totale prenotazione: {{b.totalPrice}}
            </div>

            <div class="p-16 pt-0 line-height-1.75">
                Immergiti in un'esperienza unica e conveniente con il nostro sistema di prenotazione.
            </div>

            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                <button *ngIf="!paid" mat-button class="deep-orange-800-fg" color="accent" (click)="delete(b.id)">Cancella
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-button class="deep-orange-800-fg" color="accent" (click)="showBookingDetail(b)">Dettagli</button>
            </div>

        </div>

    </div>
</div>