<div id="price-tables">

    <!-- HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="start start">
        <div class="hero-text" id="header-home" fxLayout="column" fxLayoutAlign="center center" fxFlex>
            <div class="h1">
                <img alt="logo" width="250" src="assets/images/logos/logonobg.png"
                     data-aos="fade-left"
                     data-aos-delay="700"
                     data-aos-duration="1300">
            </div>
            <div class="h1"
                 data-aos="fade-right"
                 data-aos-delay="1000"
                 data-aos-duration="1300">
                Secret Places
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayout="column">

        <!-- PRICE TABLES -->

        <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="center center">

            <!-- CARD SECRET PLACES -->
            <div [ngClass]="{visible: visible1 === true}" [@zoomIn1]="zoomIn1">
                <div class="price-table style-1 mat-elevation-z4 " fxLayout="column">
                    <div class="package-type deep-orange-300-bg ">
                        <span class="fuse-white-fg font-size-26 ">Secret Places</span>
                    </div>

                    <div class="terms" fxLayout="column">
                        <div class="term">
                            <span class="text-bold">10</span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>

                    <button mat-raised-button
                            class="cta-button deep-orange-800-bg"
                            color="accent"
                            (click)="menuColorChangerService.changePageSelected('Secret Places')"
                            [routerLink]="'/secret_places'">
                        Scopri di più
                    </button>

                </div>
            </div>

            <!-- CARD RICERCA STANDARD -->
            <div [ngClass]="{visible: visible2 === true}" [@zoomIn2]="zoomIn2">
                <div class="price-table style-1 mat-elevation-z4" fxLayout="column">
                    <div class="package-type deep-orange-300-bg" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="fuse-white-fg font-size-26 ">Ricerca Standard</span>
                    </div>

                    <div class="terms" fxLayout="column">
                        <div class="term">
                            <span class="text-bold">20</span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>

                    <button mat-raised-button
                            class="cta-button deep-orange-800-bg"
                            color="accent"
                            (click)="menuColorChangerService.changePageSelected('Ricerca Standard')"
                            [routerLink]="'/ricerca_standard'">
                        Esplora Viaggi
                    </button>
                </div>
            </div>

            <!-- PROFILO-->
            <div [ngClass]="{visible: visible3 === true}" [@zoomIn3]="zoomIn3">
                <div class="price-table style-1 mat-elevation-z4" fxLayout="column">

                    <div class="package-type deep-orange-300-bg" fxLayout="row">
                        <span class="fuse-white-fg font-size-26 ">Il Mio Profilo</span>
                    </div>

                    <div class="terms" fxLayout="column">
                        <div class="term">
                            <span class="text-bold">50</span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>

                    <button mat-raised-button
                            class="cta-button deep-orange-800-bg"
                            *ngIf="logged"
                            color="accent"
                            (click)="menuColorChangerService.changePageSelected('Profilo')"
                            [routerLink]="'/profile'">
                        Vai al Profilo
                    </button>
                    <button mat-raised-button
                            *ngIf="!logged"
                            class="cta-button deep-orange-800-bg"
                            color="accent"
                            [routerLink]="'/login'">
                        Sign in
                    </button>
                </div>
            </div>

        </div>
        <!-- / PRICE TABLES -->

        <div class="faq" fxLayout="row wrap">

            <div class="title deep-orange-800-fg " fxFlex="100">Frequently Asked Questions</div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question deep-orange-800-fg ">How does free trial work?</div>
                <div class="answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt
                    accumsan. In dignissim laoreet ipsum eu interdum.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question deep-orange-800-fg ">Can I cancel any time?</div>
                <div class="answer">
                    Aliquam erat volutpat. Etiam luctus massa ex, at tempus tellus blandit quis. Sed quis neque tellus.
                    Donec maximus ipsum in malesuada hendrerit.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question deep-orange-800-fg ">What happens after my trial ended?</div>
                <div class="answer">
                    Aliquam erat volutpat. Etiam luctus massa ex, at tempus tellus blandit quis. Sed quis neque tellus.
                    Donec maximus ipsum in malesuada hendrerit.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question deep-orange-800-fg ">Can I have a discount?</div>
                <div class="answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt
                    accumsan. In dignissim laoreet ipsum eu interdum.
                </div>
            </div>
        </div>
    </div>
</div>

