<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- CENTER -->
    <div class="center my-40">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" (click)="backToList()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img src="../../../../../assets/images/profile/a-walk-amongst-friends-small.jpg">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        PRENOTAZIONE
                        <!-- {{bookingDetailItem.id}}-->
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Dettagli Prenotazione</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informazioni">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <app-image-slider [carouselType]="1" class="my-50 images"></app-image-slider>


                                <div class="terms" fxLayout="column" fxLayoutAlign="center center">
                                    <div *ngFor="let sojourn of bookingDetailItem.sojourns">
                                        <div class="mt-32 fs">
                                            <mark>da:</mark>
                                            {{sojourn.arrival}}
                                            <mark>a:</mark>
                                            {{sojourn.departure}}</div>
                                        <div class="fs">
                                            <mark>Hotel:</mark>
                                            {{sojourn.room.hotel.name}}</div>
                                        <div class="fs">
                                            <mark>Situato in :</mark>
                                            {{sojourn.room.hotel.city.name}}
                                            - {{sojourn.room.hotel.city.region}}</div>
                                        <div class="fs">
                                            <mark>Prezzo per notte:</mark>
                                            {{sojourn.room.pricePerNight}}</div>
                                        <div class="fs">
                                            <mark>Prezzo totale:</mark>
                                            {{sojourn.totalPrice}}</div>
                                        <div class=" fs">
                                            <mark>Posti letto:</mark>
                                            {{sojourn.room.numPlaces}}</div>
                                        <mat-icon>directions_run</mat-icon>
                                    </div>
                                    <button mat-raised-button *ngIf="!paid"
                                            class="horizontal-centered mt-32 deep-orange-800-bg fuse-white-fg"
                                            (click)="PayBooking()">
                                        Paga Ora
                                    </button>
                                </div>

                            </div>

                        </mat-tab>

                        <mat-tab *ngIf="!paid" label="Prenota un mezzo">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <app-image-slider  [carouselType]="2"></app-image-slider>
                                <div class="mb-24 mt-24" fxLayout="row" fxLayoutAlign="center" fxLayout.gt-md="row">
                                    <form class="mat-card mat-elevation-z8 p-24" fxLayout="column"
                                          fxLayoutAlign="start"
                                          fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="onFormSubmit()">

                                        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto">

                                            <mat-form-field appearance="outline" fxFlex="25">
                                                <mat-label>Noleggio</mat-label>
                                                <input type="text"
                                                       matInput
                                                       formControlName="car">
                                                <mat-icon matSuffix class="deep-orange-800-fg secondary-text">
                                                    outlined_flag
                                                </mat-icon>
                                                <mat-error>Inserire una termine da cercare</mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="25">
                                                <mat-label>Data di inizio noleggio</mat-label>
                                                <input matInput formControlName="arr"
                                                       [min]="todayDate"
                                                       [matDatepicker]="picker1"
                                                       readonly>
                                                <mat-datepicker-toggle class="deep-orange-800-fg" matSuffix
                                                                       [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                                <mat-error>La data di inizio noleggio è richiesta!</mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="25">
                                                <mat-label>Data di fine noleggio</mat-label>
                                                <input matInput formControlName="dep"
                                                       [min]="todayDate"
                                                       [matDatepicker]="picker2"
                                                       readonly>
                                                <mat-datepicker-toggle class="deep-orange-800-fg" matSuffix
                                                                       [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                                <mat-error>La data di fine noleggio è richiesta!</mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="25">
                                                <mat-label>Soggiorno</mat-label>
                                                <mat-select formControlName="onlyRegion">
                                                    <div *ngFor="let soggiorno of soggiorni">
                                                        <mat-option [value]="soggiorno">
                                                            {{soggiorno}}
                                                        </mat-option>
                                                    </div>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="center center">

                                            <button mat-raised-button type="submit"
                                                    [disabled]="form.invalid"
                                                    [ngClass]="{'deep-orange-800-bg fuse-white-fg': !form.invalid } ">
                                                Finito
                                            </button>
                                        </div>
                                    </form>
                                </div>


                                <!-- CONTENT CARD -->
                                <div class="mat-card mat-elevation-z4 mb-24 mt-24" fxLayout="row" fxLayoutAlign="center" fxLayout.gt-md="row">
                                    <mat-label>Le auto disponibili sono:</mat-label>
                                    <mat-list>
                                        <mat-list-item *ngFor="let car of carList">
                                            <div matLine>{{car.name}}</div>
                                            <button mat-icon-button (click)="rentCar(car.id)">
                                                <mat-icon>add_shopping_cart</mat-icon>
                                            </button>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                    </mat-list>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
