.vertical-stepper-wrapper{
    margin: auto auto 50px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: sticky;
    width: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    z-index: 100;
    color: #fff;
    top: 10%;
    left: 15%;
    right: 15%;
    margin-bottom: 50px;
}

blockquote p {
    font-size: 51px;
}

blockquote footer {
    font-size: 33px;
}

.marked-grigio {
    background: rgba(0, 0, 0, 0.30); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
}

.seconda-meta {
    position: relative;
    margin-left: 16px;
    margin-top: 80px;
    padding-left: 5px;
    padding-right:  5px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.30); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    font-size: 60px;
}
.preform {
    width: 70%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
}

.explanation-sp{
    width: 70%;
    margin: auto;

    .explanation-sx{
        font-size: 27px;
        text-align: justify;
        padding: 15px;
    }

    .explanation-dx{
        font-size: 27px;
        text-align: justify;
        padding: 15px;

    }
    mark {
        background:rgba(255, 229, 0, 0.50);

    }
}

.explanation-clips{
    width: 70%;
    margin: auto;

    .clips-sx{
        margin: 20px;
        padding: 15px;
    }

    .clips-dx{
        font-size: 27px;
        text-align: justify;
        padding: 15px;

    }
}


