@import "src/@fuse/scss/fuse";


toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .navbar-elements .navbar-element {
        margin-left: 20px;
        margin-right: 0px;
        padding-right: 36px;

    }

    .nav-title{
        margin-right: 35px;
        margin-bottom: 5px;
        margin-left: 15px;
    }

    .navbar-element:not(.last-element):after {
        content : "";
        position: absolute;
        right    : 0;
        z-index: 100;
        width  : 2px;
        height   : 100%;
        background: #e3d9d1;
    }

    .no-hover-effect.mat-button .mat-button-focus-overlay,
    {
        background-color: transparent;
    }
}
