<mat-toolbar class="p-0 mat-elevation-z1  ">

    <!-- NAVBAR -->
    <div class="leftside-navbar" fxLayout="row" fxLayoutAlign="start center">

        <a (click)="menuColorChangerService.changePageSelected('Homepage')"
           [routerLink]="'/homepage'">
            <img class="deep-orange-300-bg" height="64" width="71" src="../../../../assets/images/logos/logonobg.png">
        </a>

        <span class="nav-title mat-display-2 deep-orange-800-fg">Secret Places</span>

        <div class="navbar-elements">
            <a mat-button disableRipple class="navbar-element no-hover-effect" [routerLink]="'/homepage'"
               (mouseenter)="onMouseEnter(0)" (mouseleave)="onMouseLeave(0)"
               (click)="menuColorChangerService.changePageSelected('Homepage')"
               [ngStyle]="{'color': getColor(0)}"
               [ngClass]="{selected: menuColorChangerService.pageSelected === 'Homepage'}">
                Homepage
            </a>
            <a mat-button disableRipple class="navbar-element no-hover-effect" [routerLink]="'/secret_places'"
               (mouseenter)="onMouseEnter(1)" (mouseleave)="onMouseLeave(1)"
               (click)="menuColorChangerService.changePageSelected('Secret Places')"
               [ngStyle]="{'color': getColor(1)}"
               [ngClass]="{selected: menuColorChangerService.pageSelected === 'Secret Places'}">
                Secret places
            </a>
            <a mat-button disableRipple class="navbar-element last-element no-hover-effect"
               [routerLink]="'/ricerca_standard'"
               (mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave(2)"
               (click)="menuColorChangerService.changePageSelected('Ricerca Standard')"
               [ngStyle]="{'color': getColor(2)}"
               [ngClass]="{selected: menuColorChangerService.pageSelected === 'Ricerca Standard'}">
                Ricerca Standard
            </a>
        </div>
    </div>


    <!-- RIGHT SIDE NAVNBAR -->
    <div class="rightside-navbar" fxFlex fxFill fxLayout="row" fxLayoutAlign="end center">

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
            <button *ngIf="logged" mat-button [matMenuTriggerFor]="userMenu"
                    class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar mr-0 mr-sm-16" src="{{_userDetail.getImage()}}">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{_userDetail.getName()}}</span>

                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button>
            <button mat-button *ngIf="!logged" routerLink="/login">
               Effettua il login
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item class="" (click)="logOut()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>

        </div>

    </div>

</mat-toolbar>
