<div *ngIf="starsNumber===1"
     fxLayout="row" fxLayoutAlign="start center" class="star-container">
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
</div>
<div *ngIf="starsNumber===2"
     fxLayout="row" fxLayoutAlign="start center" class="star-container">
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
</div>
<div *ngIf="starsNumber==3"
     fxLayout="row" fxLayoutAlign="start center" class="star-container">
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
</div>
<div *ngIf="starsNumber===4"
     fxLayout="row" fxLayoutAlign="start center" class="star-container">
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star_border</mat-icon>
</div>
<div *ngIf="starsNumber===5"
     fxLayout="row" fxLayoutAlign="start center" class="star-container">
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
    <mat-icon class="amber-600-fg">star</mat-icon>
</div>
